.title_principal {
    text-align: center;
    font-family: 'Oswald','Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 600;
    top: 200%;
    background-color: rgb(23, 155, 23);    
}

.title{
    text-align: center;
    font-family: 'Oswald','Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 600;
    top: 200%;
    background-color: rgb(3, 168, 113);
    font-size: 2em;
}

.nav {
    list-style-image: url(imagenes/tabla-periodica.png) ;
    margin-top: 20px;

}

.centrar_lista {
    margin-left: 400px;
    margin-right: 500px;   
}

.lista {
    float: left; 
    margin-right: 10px; 
    margin-left: 10px; 
    padding: 5px;
    font-family: 'Oswald','Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.imagenPersonajes {
    width: 400x;
    height: 400px;
    margin:10px auto;
    display:block;
}

.footer {
    display: flex;
    justify-content: center;
    background-color: rgb(64, 84, 64);
    margin-left: 200px;
    margin-right: 200px;
    font-size: 10px;
}

.nav {
    display: flex;
    background-color: rgb(23, 155, 23);
}

.imagen_header {
    height: 120px;
    width: 200px;
    margin:10px auto;
    display:block;
}

.header {
    background-color: rgb(5, 180, 5);
}

p {
    font-family:Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    line-height: 90%;
    font-size: 10vh 10vw;
}

main {
    background-color: rgb(5, 180, 5);
}

body {
    background-image: url(imagenes/fondo.jpg);
}

.title_div {
    background-color: rgb(64, 84, 64);
    font-size: 10px;
}

a {
    text-decoration: none;
}

.span_negrita {
    font-weight: bold;
}

.span_subrayado {
    text-decoration: underline;
}

.span_italica {
    font-style: italic;
}

.span_obliqua {
    font-style: oblique;
}

.label_form {
    font-family: 'Oswald','Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.3rem;
}
